<footer id="footer-style" class="page-footer py-3 bg-warning w-100 h-auto">
<div class="container">
    <div class="row d-flex justify-content-between">
        <div class="col-md-3 d-flex flex-column justify-content-between">
            <h6 class="text-dark">Cake landing</h6>
            <h6 class="text-dark">All rights reserved</h6>
        </div>
        <div class="col-md-3 d-flex flex-column justify-content-between">
            <h6 class="text-dark">0795574189</h6>
            <h6 class="text-dark">mohdkhawatmi@gmail.com</h6>
        </div>
        <div class="col-md-3">
            <a href="#" class="text-dark d-block"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>
            <a href="#" class="text-dark d-block"> <i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</a>
            <a href="#" class="text-dark d-block"> <i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
        </div>
        
        <div class="col-md-3">
            <h6 class="text-dark">Tabarbour, Amman, Jordan</h6>
        </div>
    </div>
</div>
</footer>
<script src="../scripts/searchScripts.js" defer></script>