<header>
<nav class="navbar navbar-expand-md navbar-light bg-warning d-flex flex-md-row flex-row-reverse justify-content-between align-items-center">
<button class="navbar-toggler display-lg-non" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>    
    <a class="navbar-brand" href="/index">
        <img src="../assets/logo.png" width="40" height="35">
        Cake landing
    </a>
    
    <form id="searchForm" class="form-inline search-form m-0">
        <input id="searchBar" class="form-control pl-4 w-100" type="search" placeholder="Search" aria-label="Search">
        <i class="fa fa-search search-icon" aria-hidden="true"></i>
    </form>

    <div class="collapse navbar-collapse justify-content-end flex-grow-0" id="navbarTogglerDemo01">
    <div class="navbar-nav">
        <a class="nav-link" href="/index">Home</a>
        <a class="nav-link" href="/cakes">Cakes</a>
        <a class="nav-link" href="/order">Make an order</a>
        <a class="nav-link" href="/about">About us</a>
        <a class="nav-link" href="/contact">Contact us</a>
      </div>
      </div>
  </nav>
</header>